# ─────────────────────────────────────────────
# Orbiscreen - Editor Configuration
# https://github.com/shadow-x78/orbiscreen
# ─────────────────────────────────────────────

# ── Root ──
root = true

# ── Defaults ──
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# ── YAML ──
[*.{yml,yaml}]
indent_size = 4

# ── Markdown ──
[*.md]
trim_trailing_whitespace = false
