[Desktop Entry]
Name=Orbiscreen Secondary Display
Comment=Virtual secondary displays for Linux streamed to Android devices over Wi-Fi or USB
Exec=orbiscreen-gtk
Icon=orbiscreen
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;System;
Keywords=display;virtual;monitor;android;spacedesk;webrtc;
StartupNotify=true
