# ─────────────────────────────────────────────
# Orbiscreen - Desktop Entry
# https://github.com/shadow-x78/orbiscreen
# ─────────────────────────────────────────────

# ── Identity ──
[Desktop Entry]
Name=Orbiscreen
Comment=Turn Android devices into high-performance secondary monitors for Linux

# ── Launcher ──
Exec=env __NV_DISABLE_EXPLICIT_SYNC=1 WEBKIT_DISABLE_DMABUF_RENDERER=1 orbiscreen-gui
Icon=orbiscreen
Terminal=false
Type=Application

# ── Classification ──
Categories=Utility;HardwareSettings;
Keywords=monitor;display;virtual;screen;second;android;

# ── Window Matching ──
StartupNotify=true
StartupWMClass=orbiscreen-gui
